In [6]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [3]:
df = pd.read_csv('flower.csv')
df

     retrieved gold_standard
0       setosa        setosa
1       setosa        setosa
2       setosa        setosa
3   versicolor    versicolor
4       setosa        setosa
5   versicolor    versicolor
6    virginica    versicolor
7       setosa        setosa
8       setosa        setosa
9       setosa        setosa
10   virginica     virginica
11  versicolor    versicolor
12  versicolor    versicolor
13      setosa        setosa
14   virginica     virginica
15  versicolor    versicolor
16      setosa        setosa
17  versicolor    versicolor
18      setosa        setosa
19      setosa        setosa
20      setosa        setosa
21   virginica     virginica
22   virginica     virginica
23  versicolor    versicolor
24  versicolor    versicolor
25      setosa        setosa
26   virginica     virginica
27  versicolor    versicolor
28  versicolor    versicolor
29   virginica     virginica
30      setosa        setosa
31  versicolor    versicolor
32      setosa        setosa
33   virginica    versicolor
34   virginica     virginica
35  versicolor    versicolor
36      setosa        setosa
37  versicolor    versicolor
38  versicolor    versicolor
39      setosa        setosa
40      setosa        setosa
41      setosa        setosa
42   virginica    versicolor
43  versicolor    versicolor
44   virginica    versicolor

In [5]:
confusion_matrix = pd.crosstab(df['gold_standard'], df['retrieved'], rownames=['Actual'], colnames=['Predicted'])
confusion_matrix

Predicted   setosa  versicolor  virginica
Actual
setosa          19           0          0
versicolor       0          15          4
virginica        0           0          7

In [12]:
#accuracy
np.sum(np.diag(confusion_matrix))/np.sum(np.sum(confusion_matrix))

0.9111111111111111

In [13]:
np.sum(confusion_matrix)

Predicted
setosa        19
versicolor    15
virginica     11
dtype: int64