In [1]:
import pandas as pd
import numpy as np

data = {
    
    'Document Id' : ['D0','D1','D2','D3'],
    'Documents' : ['preliminary findings in corona research',
                  'novel corona research findings',
                  'new research to corona healing',
                  'healing novel corona research'],
    'V Id' : ['v1','v2','v3','v4','v5','v6','v7','v8','v9'],
    'Vocabulary' : ['preliminary', 'findings', 'in', 'corona', 'research', 'novel',
'new', 'to', 'healing']
    
}

df = pd.DataFrame(data, columns= ['Document Id', 'Documents'])
df2 = pd.DataFrame(data, columns= ['V Id', 'Vocabulary'])

In [2]:
l = []
c = 0
for i in df2['Vocabulary']:
    for j in df['Documents']:
        if i in j:
            c = c+1
    l.append(c)
    c = 0
print(l)
df2['document_freq'] = np.array(l)
df2['document_freq'][2] = 1

[1, 2, 4, 4, 4, 2, 1, 1, 2]

<ipython-input-2-806f5a2b6040>:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['document_freq'][2] = 1

In [3]:
l2 = []
for i in df2['Vocabulary']:
    for j in df['Documents']:
        c = j.count(i)
        l2.append(c)
        
print(l2)

[1, 0, 0, 0, 1, 1, 0, 0, 4, 2, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 1]

In [4]:
doc = np.array(l2)

In [5]:
tf = []
for d in l2:
    if d==0:
        e=0
    else:
        e = 1+np.log10(d)
    
    
    tf.append(e)
print(tf)

[1.0, 0, 0, 0, 1.0, 1.0, 0, 0, 1.6020599913279625, 1.3010299956639813, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 0, 1.0, 0, 1.0, 0, 0, 1.0, 0, 0, 0, 1.0, 0, 0, 0, 1.0, 1.0]

In [6]:
import math
df2['global_weight'] = np.log10(len(df['Document Id'])/df2['document_freq'])
df2

  V Id   Vocabulary  document_freq  global_weight
0   v1  preliminary              1        0.60206
1   v2     findings              2        0.30103
2   v3           in              1        0.60206
3   v4       corona              4        0.00000
4   v5     research              4        0.00000
5   v6        novel              2        0.30103
6   v7          new              1        0.60206
7   v8           to              1        0.60206
8   v9      healing              2        0.30103

In [7]:
df2['D0'] = l2[0:36:4]
df2['D1'] = l2[1:36:4]
df2['D2'] = l2[2:36:4]
df2['D3'] = l2[3:36:4]

df2['D0'][2] = 1
df2['D1'][2] = 0
df2['D2'][2] = 0
df2['D3'][2] = 0

df2

<ipython-input-7-d28d02fb2ec7>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['D0'][2] = 1
<ipython-input-7-d28d02fb2ec7>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['D1'][2] = 0
<ipython-input-7-d28d02fb2ec7>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['D2'][2] = 0
<ipython-input-7-d28d02fb2ec7>:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df2['D3'][2] = 0

  V Id   Vocabulary  document_freq  global_weight  D0  D1  D2  D3
0   v1  preliminary              1        0.60206   1   0   0   0
1   v2     findings              2        0.30103   1   1   0   0
2   v3           in              1        0.60206   1   0   0   0
3   v4       corona              4        0.00000   1   1   1   1
4   v5     research              4        0.00000   1   1   1   1
5   v6        novel              2        0.30103   0   1   0   1
6   v7          new              1        0.60206   0   0   1   0
7   v8           to              1        0.60206   0   0   1   0
8   v9      healing              2        0.30103   0   0   1   1

In [8]:
df2['D0_tfidf'] = df2['global_weight']*df2['D0']
df2['D1_tfidf'] = df2['global_weight']*df2['D1']
df2['D2_tfidf'] = df2['global_weight']*df2['D2']
df2['D3_tfidf'] = df2['global_weight']*df2['D3']

df2

,V Id,Vocabulary,document_freq,global_weight,D0,D1,D2,D3,D0_tfidf,D1_tfidf,D2_tfidf,D3_tfidf
0,v1,preliminary,1,0.60206,1,0,0,0,0.60206,0.00000,0.00000,0.00000
1,v2,findings,2,0.30103,1,1,0,0,0.30103,0.30103,0.00000,0.00000
2,v3,in,1,0.60206,1,0,0,0,0.60206,0.00000,0.00000,0.00000
3,v4,corona,4,0.00000,1,1,1,1,0.00000,0.00000,0.00000,0.00000
4,v5,research,4,0.00000,1,1,1,1,0.00000,0.00000,0.00000,0.00000
5,v6,novel,2,0.30103,0,1,0,1,0.00000,0.30103,0.00000,0.30103
6,v7,new,1,0.60206,0,0,1,0,0.00000,0.00000,0.60206,0.00000
7,v8,to,1,0.60206,0,0,1,0,0.00000,0.00000,0.60206,0.00000
8,v9,healing,2,0.30103,0,0,1,1,0.00000,0.00000,0.30103,0.30103

In [9]:
q = 'novel novel preliminary new research'
lis = []
for i in df2['Vocabulary']:
    v = q.count(i)
    lis.append(v)
lis[2]  = 0
lis
arr = np.array(lis)
df2['Q1'] = df2['global_weight']*arr
df2

,V Id,Vocabulary,document_freq,global_weight,D0,D1,D2,D3,D0_tfidf,D1_tfidf,D2_tfidf,D3_tfidf,Q1
0,v1,preliminary,1,0.60206,1,0,0,0,0.60206,0.00000,0.00000,0.00000,0.60206
1,v2,findings,2,0.30103,1,1,0,0,0.30103,0.30103,0.00000,0.00000,0.00000
2,v3,in,1,0.60206,1,0,0,0,0.60206,0.00000,0.00000,0.00000,0.00000
3,v4,corona,4,0.00000,1,1,1,1,0.00000,0.00000,0.00000,0.00000,0.00000
4,v5,research,4,0.00000,1,1,1,1,0.00000,0.00000,0.00000,0.00000,0.00000
5,v6,novel,2,0.30103,0,1,0,1,0.00000,0.30103,0.00000,0.30103,0.60206
6,v7,new,1,0.60206,0,0,1,0,0.00000,0.00000,0.60206,0.00000,0.60206
7,v8,to,1,0.60206,0,0,1,0,0.00000,0.00000,0.60206,0.00000,0.00000
8,v9,healing,2,0.30103,0,0,1,1,0.00000,0.00000,0.30103,0.30103,0.00000

In [27]:
a = 0
for y in range(0,9):
    a = a + (df2['Q1'][y]**2)
aa = a**0.5
    
b = 0
for z in range(0,9):
    b = b + (df2['D0_tfidf'][z]**2)
bb = b**0.5

c = 0
for x in range(0,9):
    c = c + (df2['D1_tfidf'][x]**2)
cc = c**0.5

e = 0
for u in range(0,9):
    e = e + (df2['D2_tfidf'][u]**2)
ee = e**0.5

f = 0
for v in range(0,9):
    f = f + (df2['D3_tfidf'][v]**2)
ff = f**0.5

s = (df2['Q1'] * df2['D3_tfidf']).sum()
d = aa*ff
cos = s/d
cos
print(cos)

0.4082482904638631

In [11]:
a = 0
for y in range(0,9):
    a = a + (df2['Q1'][y]**2)
aa = a**0.5

b = 0
for z in range(0,9):
    b = b + (df2['D0_tfidf'][z]**2)
bb = b**0.5
print(aa)
print(bb)
print(aa*bb)
print(df2['Q1'].sum())
print(df2['D0_tfidf'].sum())
print(df2['Q1'].sum()*df2['D0_tfidf'].sum())

1.0427984941845085
0.9030899869919436
0.9417408785483062
1.806179973983887
1.5051499783199058
2.7185717486836958

In [12]:
D0="cats runs behind rats"
D1="dogs runs behind cats"
D2="rats runs cats"
D3="behind runs cats dogs"
q="behind rats"

corpus=[D0,D1,D2,D3,q]
word_bag= set(D0.split()+D1.split()+D2.split()+D3.split()+q.split())


def term_frequency(word_bag, corpus):
    lis = []
    for word in word_bag:
        for match in corpus:
            m = match.count(word)
            lis.append(m)
    lis2 = []
   
    for i in range(0,len(corpus)):
         lis2.append(lis[i::len(corpus)])
    lis2 = np.array(lis2)
    lis2 = lis2.transpose()
    return(pd.DataFrame(lis2,index = word_bag, columns = corpus))
        

term_frequency(word_bag, corpus)

,cats runs behind rats,dogs runs behind cats,rats runs cats,behind runs cats dogs,behind rats
runs,1,1,1,1,0
cats,1,1,1,1,0
dogs,0,1,0,1,0
rats,1,0,1,0,1
behind,1,1,0,1,1

In [13]:
dff = term_frequency(word_bag, corpus)

In [14]:
lq = []
c = 0
for i in word_bag:
    for j in corpus:
        if i in j:
            c = c+1
    lq.append(c)
    c = 0
print(lq)
dff['df'] = np.array(lq)
dff['global_weight'] = np.log10((len(corpus)/dff['df']))

[4, 4, 2, 3, 4]

In [15]:
dff

,cats runs behind rats,dogs runs behind cats,rats runs cats,behind runs cats dogs,behind rats,df,global_weight
runs,1,1,1,1,0,4,0.096910
cats,1,1,1,1,0,4,0.096910
dogs,0,1,0,1,0,2,0.397940
rats,1,0,1,0,1,3,0.221849
behind,1,1,0,1,1,4,0.096910

In [16]:
dff['D1_tfidf'] = dff['global_weight']*dff['dogs runs behind cats']
dff['D3_tfidf'] = dff['global_weight']*dff['behind runs cats dogs']
dff['q_tfidf'] = dff['global_weight']*dff['behind rats']

In [17]:
dff

,cats runs behind rats,dogs runs behind cats,rats runs cats,behind runs cats dogs,behind rats,df,global_weight,D1_tfidf,D3_tfidf,q_tfidf
runs,1,1,1,1,0,4,0.096910,0.09691,0.09691,0.000000
cats,1,1,1,1,0,4,0.096910,0.09691,0.09691,0.000000
dogs,0,1,0,1,0,2,0.397940,0.39794,0.39794,0.000000
rats,1,0,1,0,1,3,0.221849,0.00000,0.00000,0.221849
behind,1,1,0,1,1,4,0.096910,0.09691,0.09691,0.096910

In [18]:
dff['Rocchio1'] = dff['behind rats'] + (0.8*dff['D1_tfidf']) - (0.1*dff['D3_tfidf'])
dff

,cats runs behind rats,dogs runs behind cats,rats runs cats,behind runs cats dogs,behind rats,df,global_weight,D1_tfidf,D3_tfidf,q_tfidf,Rocchio1
runs,1,1,1,1,0,4,0.096910,0.09691,0.09691,0.000000,0.067837
cats,1,1,1,1,0,4,0.096910,0.09691,0.09691,0.000000,0.067837
dogs,0,1,0,1,0,2,0.397940,0.39794,0.39794,0.000000,0.278558
rats,1,0,1,0,1,3,0.221849,0.00000,0.00000,0.221849,1.000000
behind,1,1,0,1,1,4,0.096910,0.09691,0.09691,0.096910,1.067837

In [19]:
lq2 = []
corpus2 = [D0,D1,D2,D3]
c = 0
for i in word_bag:
    for j in corpus2:
        if i in j:
            c = c+1
    lq2.append(c)
    c = 0
print(lq2)

[4, 4, 2, 2, 3]

In [20]:
dff2 = dff[['cats runs behind rats','dogs runs behind cats','rats runs cats','behind runs cats dogs']]
dff2['df'] = np.array(lq2)
dff2['global_weight'] = np.log10((len(corpus2)/dff2['df']))

<ipython-input-20-71f47a0cd055>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['df'] = np.array(lq2)
<ipython-input-20-71f47a0cd055>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['global_weight'] = np.log10((len(corpus2)/dff2['df']))

In [21]:
dff2['D1_tfidf'] = dff2['global_weight']*dff2['dogs runs behind cats']
dff2['D3_tfidf'] = dff2['global_weight']*dff2['behind runs cats dogs']
dff2['q_tfidf'] = dff2['global_weight']*dff['behind rats']

<ipython-input-21-dc775f6fc2c8>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['D1_tfidf'] = dff2['global_weight']*dff2['dogs runs behind cats']
<ipython-input-21-dc775f6fc2c8>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['D3_tfidf'] = dff2['global_weight']*dff2['behind runs cats dogs']
<ipython-input-21-dc775f6fc2c8>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['q_tfidf'] = dff2['global_weight']*dff['behind rats']

In [22]:
dff2['Rocchio1'] = dff2['q_tfidf'] + (0.8*dff2['D1_tfidf']) - (0.1*dff2['D3_tfidf'])
dff2['Rocchio2'] = dff2['q_tfidf'] + (0.1*dff2['D1_tfidf']) - (0.9*dff2['D3_tfidf'])
dff2['Rocchio3'] = dff2['q_tfidf'] + dff2['D1_tfidf'] - dff2['D3_tfidf']
dff2

<ipython-input-22-75fa1a2e3c15>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dff2['Rocchio1'] = dff2['q_tfidf'] + (0.8*dff2['D1_tfidf']) - (0.1*dff2['D3_tfidf'])

,cats runs behind rats,dogs runs behind cats,rats runs cats,behind runs cats dogs,df,global_weight,D1_tfidf,D3_tfidf,q_tfidf,Rocchio1,Rocchio2,Rocchio3
runs,1,1,1,1,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
cats,1,1,1,1,4,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
dogs,0,1,0,1,2,0.301030,0.301030,0.301030,0.000000,0.210721,-0.240824,0.000000
rats,1,0,1,0,2,0.301030,0.000000,0.000000,0.301030,0.301030,0.301030,0.301030
behind,1,1,0,1,3,0.124939,0.124939,0.124939,0.124939,0.212396,0.024988,0.124939

In [2]:
D1 = "vaccine research corona virus research"
D2 = "research research cancer vaccine vaccine"
D3 = "virus virus corona vaccine lab"
D4 = "cancer lab research lab"

corpus=[D1,D2,D3,D4]
word_bag= set(D1.split()+D2.split()+D3.split()+D4.split())

def term_frequency2(word_bag, corpus):
    d1_dict = dict.fromkeys(word_bag, 0) 
    d2_dict = dict.fromkeys(word_bag, 0) 
    d3_dict = dict.fromkeys(word_bag, 0) 
    d4_dict = dict.fromkeys(word_bag, 0) 
    for word in (D1.split()):
        d1_dict[word]+=1
    for word in (D2.split()):
        d2_dict[word]+=1
    for word in (D3.split()):
        d3_dict[word]+=1
    for word in (D4.split()):
        d4_dict[word]+=1
    
    p = pd.DataFrame([d1_dict, d2_dict, d3_dict, d4_dict],columns = word_bag)
    p.index =['d1', 'd2', 'd3', 'd4']
    r = p.transpose()
    return(r)

In [3]:
term_frequency2(word_bag, corpus)

          d1  d2  d3  d4
corona     1   0   1   0
virus      1   0   2   0
lab        0   0   1   2
vaccine    1   2   1   0
research   2   2   0   1
cancer     0   1   0   1

In [62]:
q_dict

{'runs': 0, 'cats': 0, 'dogs': 0, 'rats': 1, 'behind': 1}